.mat-drawer-container {
  overflow: visible;
}

.mat-toolbar-row {
  padding: 0;
  display: flex;

  .example-sidenav {
    height: calc(100vh - 50px);
    width: 250px;
    background-color: #cccccc;
  }

  .app-title {
    padding-right: 20px;
    flex: 1;
    justify-self: center;
  }

  .material-icons {
    padding-left: 20px;
    cursor: pointer;
  }

  .mat-drawer {
    top: 32px;
  }
}
