<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <mat-drawer-container>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <app-sidenav-items (contentType)="getContentType($event)"></app-sidenav-items>
        </mat-drawer>
      </mat-drawer-container>

      <i class="material-icons" (click)="drawer.toggle()">
        menu
      </i>

      <span class="app-title">Система электронного документооборота ДКШ СГТУ</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
