.main-rules {
  width: 60%;
  margin: 50px auto;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: dimgray;
}

.include-content {
  width: 60%;
  margin: 50px auto;
}
